.countries{
    border: 2px solid sienna;
    padding: 20px;
}

.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visited{
    background-color: rgb(94, 94, 94);
}

.flags-container img{
    width: 100px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 842e75a04f252e41187ee76431f351d30139d3b2
